example1.node-red
[{"id":"850a7c6b.5abdf","type":"tab","label":"LifeApp","disabled":false,"info":""},{"id":"3f38403b.3ba0a","type":"inject","z":"850a7c6b.5abdf","name":"CREATE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE la(     la_id               INTEGER PRIMARY KEY,      la_entry_dateTime   STRING NOT NULL,     la_mood             VARCHAR(50),      la_recent_activity  VARCHAR(50),      la_goals_complete   VARCHAR(50),      la_mens             VARCHAR(50),          la_next_activity    VARCHAR(50) );","payload":"","payloadType":"date","x":140,"y":260,"wires":[["31465a85.ab61e6"]]},{"id":"31465a85.ab61e6","type":"sqlite","z":"850a7c6b.5abdf","mydb":"7df68a7.13e8ff4","sqlquery":"msg.topic","sql":"","name":"","x":560,"y":240,"wires":[["6aadcb3e.e98dfc"]]},{"id":"ae3128ab.d08be","type":"inject","z":"850a7c6b.5abdf","name":"SELECT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM la","payload":"","payloadType":"date","x":170,"y":320,"wires":[["31465a85.ab61e6"]]},{"id":"6aadcb3e.e98dfc","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":260,"wires":[]},{"id":"3b56f939.6b4fe6","type":"ui_form","z":"850a7c6b.5abdf","name":"","label":"Data Entry","group":"3a99b6ca.8eaa0a","order":1,"width":0,"height":0,"options":[{"label":"How do you feel?","value":"la_mood","type":"text","required":true,"rows":null},{"label":"Most Recent Activity","value":"la_recent_activity","type":"text","required":true,"rows":null},{"label":"Are daily goals completed?","value":"la_goals_complete","type":"text","required":true,"rows":null},{"label":"Are you on your period?","value":"la_mens","type":"text","required":true,"rows":null},{"label":"What are you about to do?","value":"la_next_activity","type":"text","required":true,"rows":null}],"formValue":{"la_mood":"","la_recent_activity":"","la_goals_complete":"","la_mens":"","la_next_activity":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":440,"wires":[["6aadcb3e.e98dfc","4184e942.696c38"]]},{"id":"4184e942.696c38","type":"function","z":"850a7c6b.5abdf","name":"","func":"var la_enrty_dateTime_v = + new Date();\nvar la_mood_v = msg.payload['la_mood'] ;\nvar la_recent_activity_v = msg.payload['la_recent_activity'] ;\nvar la_goals_complete_v = msg.payload['la_goals_complete'] ;\nvar la_mens_v = msg.payload['la_mens'] ;\nvar la_next_activity_v = msg.payload['la_next_activity'] ;\n\n\nmsg.topic = 'INSERT INTO la(la_entry_dateTime,la_mood,la_recent_activity,la_goals_complete, la_mens,la_next_activity) VALUES(\\\"' +  la_enrty_dateTime_v + '\\\",\\\"' + la_mood_v + '\\\",\\\"' + la_recent_activity_v + '\\\",\\\"' + la_goals_complete_v + '\\\",\\\"' + la_mens_v + '\\\",\\\"' + la_next_activity_v +'\\\")';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":460,"wires":[["e2b9cf8a.7be5e","31465a85.ab61e6"]]},{"id":"e2b9cf8a.7be5e","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":460,"wires":[]},{"id":"dbc6811.76855","type":"inject","z":"850a7c6b.5abdf","name":"DROP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE la","payload":"","payloadType":"date","x":140,"y":220,"wires":[["31465a85.ab61e6"]]},{"id":"4ab35ebb.c91f7","type":"ui_text_input","z":"850a7c6b.5abdf","name":"","label":"SELECT ID","tooltip":"","group":"3a99b6ca.8eaa0a","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":110,"y":500,"wires":[["cab11840.b3d0f8"]]},{"id":"4e5b4e7e.4ebae","type":"sqlite","z":"850a7c6b.5abdf","mydb":"7df68a7.13e8ff4","sqlquery":"msg.topic","sql":"","name":"","x":290,"y":520,"wires":[["e2b9cf8a.7be5e","ba6b8b96.ea73d8","79e1555d.eb1dac","22a5b559.19217a","27b90cfa.d3c994","34c9c7c3.32d658","f6c86e60.8ead9","e6004614.dde5d8"]]},{"id":"ba6b8b96.ea73d8","type":"ui_text","z":"850a7c6b.5abdf","group":"3a99b6ca.8eaa0a","order":2,"width":0,"height":0,"name":"","label":"mood","format":"{{msg.payload[0].la_mood}}","layout":"row-spread","x":530,"y":540,"wires":[]},{"id":"79e1555d.eb1dac","type":"ui_text","z":"850a7c6b.5abdf","group":"3a99b6ca.8eaa0a","order":3,"width":0,"height":0,"name":"","label":"Recent Activity","format":"{{msg.payload[0].la_recent_activity}}","layout":"row-spread","x":570,"y":600,"wires":[]},{"id":"22a5b559.19217a","type":"ui_text","z":"850a7c6b.5abdf","group":"3a99b6ca.8eaa0a","order":4,"width":0,"height":0,"name":"","label":"Goals Completed","format":"{{msg.payload[0].la_goals_complete}}","layout":"row-spread","x":570,"y":640,"wires":[]},{"id":"27b90cfa.d3c994","type":"ui_text","z":"850a7c6b.5abdf","group":"3a99b6ca.8eaa0a","order":5,"width":0,"height":0,"name":"","label":"Period","format":"{{msg.payload[0].la_mens}}","layout":"row-spread","x":550,"y":720,"wires":[]},{"id":"34c9c7c3.32d658","type":"ui_text","z":"850a7c6b.5abdf","group":"3a99b6ca.8eaa0a","order":6,"width":0,"height":0,"name":"","label":"Next Acitivty","format":"{{msg.payload[0].la_next_activity}}","layout":"row-spread","x":570,"y":780,"wires":[]},{"id":"f6c86e60.8ead9","type":"ui_text","z":"850a7c6b.5abdf","group":"3a99b6ca.8eaa0a","order":7,"width":0,"height":0,"name":"","label":"ID","format":"{{msg.payload[0].la_id}}","layout":"row-spread","x":550,"y":840,"wires":[]},{"id":"53c850fc.16d61","type":"ui_text","z":"850a7c6b.5abdf","group":"3a99b6ca.8eaa0a","order":8,"width":0,"height":0,"name":"","label":"Date/Time","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":880,"wires":[]},{"id":"cab11840.b3d0f8","type":"function","z":"850a7c6b.5abdf","name":"","func":"var la_id_v = msg.payload ; msg.topic = 'SELECT * FROM la WHERE la_id = ' + la_id_v ; return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":560,"wires":[["4e5b4e7e.4ebae"]]},{"id":"e6004614.dde5d8","type":"function","z":"850a7c6b.5abdf","name":"","func":"var timeV = msg.payload[0].la_entry_dateTime ;\nvar a = new Date(timeV) ;\nvar months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nvar year = a.getFullYear();\nvar month = months[a.getMonth()];\nvar date = a.getDate();\nvar hour = a.getHours();\nvar min = a.getMinutes();\nvar sec = a.getSeconds();\nvar time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;\nmsg.payload = time ;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":720,"wires":[["53c850fc.16d61"]]},{"id":"e09e3553.4cbf18","type":"ui_text_input","z":"850a7c6b.5abdf","name":"","label":"DELETE ID","tooltip":"","group":"3a99b6ca.8eaa0a","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":90,"y":680,"wires":[["be671b5.c06fee8"]]},{"id":"be671b5.c06fee8","type":"function","z":"850a7c6b.5abdf","name":"","func":"var la_id_v = msg.payload ; msg.topic = 'DELETE FROM la WHERE la_id = ' + la_id_v ; return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":740,"wires":[["2d55a9fb.22a906"]]},{"id":"2d55a9fb.22a906","type":"sqlite","z":"850a7c6b.5abdf","mydb":"7df68a7.13e8ff4","sqlquery":"msg.topic","sql":"","name":"","x":150,"y":780,"wires":[[]]},{"id":"7df68a7.13e8ff4","type":"sqlitedb","db":"/tmp/la","mode":"RWC"},{"id":"3a99b6ca.8eaa0a","type":"ui_group","name":"DELETE DATA ","tab":"abce7817.f6d808","order":1,"disp":true,"width":"6","collapse":false},{"id":"abce7817.f6d808","type":"ui_tab","name":"Questions","icon":"dashboard","disabled":false,"hidden":false}]
