exampleM.node-red
[{"id":"e9f670fb.38f4d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2a74b436.fcf6bc","type":"sqlite","z":"e9f670fb.38f4d","mydb":"7df68a7.13e8ff4","sqlquery":"msg.topic","sql":"","name":"myLifeDB","x":400,"y":40,"wires":[["b9141560.c93708"]]},{"id":"d470b230.0fbda","type":"inject","z":"e9f670fb.38f4d","name":"CREATE TABLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE laTable(la_id INTEGER PRIMARY KEY, la_entry_dateTime   STRING NOT NULL,la_mood             VARCHAR(50), la_recent_activity  VARCHAR(50), la_goals_complete VARCHAR(50), la_mens VARCHAR(50),     la_next_activity VARCHAR(50) );","payload":"","payloadType":"date","x":80,"y":60,"wires":[[]]},{"id":"dd258646.66d948","type":"inject","z":"e9f670fb.38f4d","name":"SELECT ALL","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM laTable","payload":"","payloadType":"date","x":90,"y":100,"wires":[["2a74b436.fcf6bc"]]},{"id":"b9141560.c93708","type":"debug","z":"e9f670fb.38f4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":40,"wires":[]},{"id":"cebefd55.4ff98","type":"inject","z":"e9f670fb.38f4d","name":"INSERT ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO laTable(la_entry_dateTime,la_mood,la_recent_activity,la_goals_complete, la_mens,la_next_activity) VALUES(\"1612291043552\",\"STONED\",\"Dyvifsgi\",\"false\",\"true\",\"Gjhvivfnvbfg\") ","payload":"","payloadType":"date","x":110,"y":140,"wires":[["2a74b436.fcf6bc"]]},{"id":"c8ddc17f.25479","type":"inject","z":"e9f670fb.38f4d","name":"CREATE TABLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"CREATE TABLE laTable(la_id INTEGER PRIMARY KEY, la_entry_dateTime   STRING NOT NULL,la_mood             VARCHAR(50), la_recent_activity  VARCHAR(50), la_goals_complete VARCHAR(50), la_mens VARCHAR(50),     la_next_activity VARCHAR(50) );","payload":"","payloadType":"date","x":80,"y":20,"wires":[["2a74b436.fcf6bc"]]},{"id":"fad1c3f9.6b27e","type":"ui_text_input","z":"e9f670fb.38f4d","name":"","label":"Get Raw Data","tooltip":"","group":"e9eb9402.87dbf8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":80,"y":1160,"wires":[["a09a271.0169ed8"]]},{"id":"a09a271.0169ed8","type":"function","z":"e9f670fb.38f4d","name":"","func":"var la_id_v = msg.payload ;\n\nmsg.topic = 'SELECT * FROM laTable WHERE la_id = ' + la_id_v ; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":1160,"wires":[["5728d150.8a688"]]},{"id":"5728d150.8a688","type":"sqlite","z":"e9f670fb.38f4d","mydb":"7df68a7.13e8ff4","sqlquery":"msg.topic","sql":"","name":"myLifeDB","x":500,"y":1160,"wires":[["76c55858.514678","951e436a.5296f","ce7bc05b.72d99","366e2333.648efc","6158ca75.1970b4","26aea8e4.0a25b8"]]},{"id":"76c55858.514678","type":"function","z":"e9f670fb.38f4d","name":"","func":"var timeV = msg.payload[0].la_entry_dateTime ;\n\nvar a = new Date(timeV) ;\nvar months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nvar year = a.getFullYear();\nvar month = months[a.getMonth()];\nvar date = a.getDate();\nvar hour = a.getHours();\nvar min = a.getMinutes();\nvar sec = a.getSeconds();\nvar time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;\n\nmsg.payload = time ;  \n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":1160,"wires":[["1961ac14.28fda4"]]},{"id":"951e436a.5296f","type":"ui_text","z":"e9f670fb.38f4d","group":"e9eb9402.87dbf8","order":2,"width":0,"height":0,"name":"","label":"Mood:","format":"{{msg.payload[0]. la_mood}}","layout":"row-spread","x":1030,"y":1200,"wires":[]},{"id":"ce7bc05b.72d99","type":"ui_text","z":"e9f670fb.38f4d","group":"e9eb9402.87dbf8","order":3,"width":0,"height":0,"name":"","label":"Activity","format":"{{msg.payload[0]. la_recent_activity}}","layout":"row-spread","x":1040,"y":1240,"wires":[]},{"id":"6158ca75.1970b4","type":"ui_text","z":"e9f670fb.38f4d","group":"e9eb9402.87dbf8","order":4,"width":0,"height":0,"name":"","label":"Period?","format":"{{msg.payload[0]. la_mens}}","layout":"row-spread","x":1040,"y":1320,"wires":[]},{"id":"366e2333.648efc","type":"ui_text","z":"e9f670fb.38f4d","group":"e9eb9402.87dbf8","order":5,"width":0,"height":0,"name":"","label":"Goals Completed?","format":"{{msg.payload[0]. la_goals_complete}}","layout":"row-spread","x":1070,"y":1280,"wires":[]},{"id":"26aea8e4.0a25b8","type":"ui_text","z":"e9f670fb.38f4d","group":"e9eb9402.87dbf8","order":6,"width":0,"height":0,"name":"","label":"Next Activity: ","format":"{{msg.payload[0]. la_next_activity}}","layout":"row-spread","x":1050,"y":1360,"wires":[]},{"id":"1961ac14.28fda4","type":"ui_text","z":"e9f670fb.38f4d","group":"e9eb9402.87dbf8","order":7,"width":0,"height":0,"name":"","label":"Time:","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":1160,"wires":[]},{"id":"8ed1af62.ae973","type":"ui_text","z":"e9f670fb.38f4d","group":"db539212.b16c5","order":1,"width":0,"height":0,"name":"Mood","label":"HOW IS YOUR MOOD TODAY?","format":"{{msg.payload}}","layout":"col-center","x":50,"y":260,"wires":[]},{"id":"954b0406.614e08","type":"ui_button","z":"e9f670fb.38f4d","name":"HAPPY","group":"db539212.b16c5","order":2,"width":0,"height":0,"passthru":false,"label":"HAPPY","tooltip":"","color":"","bgcolor":"","icon":"","payload":"HAPPY","payloadType":"str","topic":"","x":60,"y":300,"wires":[["d8178d6c.cff84"]]},{"id":"9b2fdd01.cfc73","type":"ui_button","z":"e9f670fb.38f4d","name":"OKAY","group":"db539212.b16c5","order":3,"width":0,"height":0,"passthru":false,"label":"OKAY","tooltip":"","color":"","bgcolor":"","icon":"","payload":"OKAY","payloadType":"str","topic":"","x":50,"y":340,"wires":[["d8178d6c.cff84"]]},{"id":"51a096c0.36f0b8","type":"ui_button","z":"e9f670fb.38f4d","name":"EXCITED","group":"db539212.b16c5","order":4,"width":0,"height":0,"passthru":false,"label":"EXCITED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"EXCITED","payloadType":"str","topic":"","x":60,"y":380,"wires":[["d8178d6c.cff84"]]},{"id":"e4d7f45c.ccdd68","type":"ui_button","z":"e9f670fb.38f4d","name":"SAD","group":"db539212.b16c5","order":5,"width":0,"height":0,"passthru":false,"label":"SAD","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SAD","payloadType":"str","topic":"","x":50,"y":420,"wires":[["d8178d6c.cff84"]]},{"id":"fd670c90.2302d","type":"ui_button","z":"e9f670fb.38f4d","name":"STONED","group":"db539212.b16c5","order":6,"width":0,"height":0,"passthru":false,"label":"STONED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"STONED","payloadType":"str","topic":"","x":60,"y":460,"wires":[["d8178d6c.cff84"]]},{"id":"9324b115.9565c","type":"ui_button","z":"e9f670fb.38f4d","name":"WEIRD","group":"db539212.b16c5","order":7,"width":0,"height":0,"passthru":false,"label":"WEIRD","tooltip":"","color":"","bgcolor":"","icon":"","payload":"WEIRD","payloadType":"str","topic":"","x":60,"y":500,"wires":[["d8178d6c.cff84"]]},{"id":"d8178d6c.cff84","type":"ui_text_input","z":"e9f670fb.38f4d","name":"Choice Selected","label":"CHOICE:","tooltip":"","group":"db539212.b16c5","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"{{msg.payload}}","x":310,"y":380,"wires":[["eb2b6fdb.eb522","ded7df2b.eab61"]]},{"id":"ded7df2b.eab61","type":"function","z":"e9f670fb.38f4d","name":"","func":"global.set(\"la_mood_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":320,"wires":[[]]},{"id":"eb2b6fdb.eb522","type":"debug","z":"e9f670fb.38f4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":380,"wires":[]},{"id":"5972b2d9.c2bf1c","type":"ui_text_input","z":"e9f670fb.38f4d","name":"","label":"RECENT ACTIVITY","tooltip":"","group":"f6a88f88.2a795","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":90,"y":580,"wires":[["6cb8c1d.b95584","9a26fa51.64d5d8"]]},{"id":"9a26fa51.64d5d8","type":"function","z":"e9f670fb.38f4d","name":"","func":"global.set(\"la_recent_activity_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":540,"wires":[[]]},{"id":"6cb8c1d.b95584","type":"debug","z":"e9f670fb.38f4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":580,"wires":[]},{"id":"c910753b.f8ec48","type":"ui_text_input","z":"e9f670fb.38f4d","name":"","label":"NEXT ACTIVITY","tooltip":"","group":"aa0a4310.38866","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":80,"y":680,"wires":[["de064727.9c2298","84ab0097.5c91d"]]},{"id":"84ab0097.5c91d","type":"function","z":"e9f670fb.38f4d","name":"","func":"global.set(\"la_next_activity_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":640,"wires":[[]]},{"id":"de064727.9c2298","type":"debug","z":"e9f670fb.38f4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":680,"wires":[]},{"id":"59299c07.b0c404","type":"ui_switch","z":"e9f670fb.38f4d","name":"","label":"GOALS COMPLETED?","tooltip":"","group":"c7fccd36.f462c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":780,"wires":[["7b8486b6.975198","79a461fd.9e4e5"]]},{"id":"79a461fd.9e4e5","type":"function","z":"e9f670fb.38f4d","name":"","func":"global.set(\"la_goals_complete_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":740,"wires":[[]]},{"id":"7b8486b6.975198","type":"debug","z":"e9f670fb.38f4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":780,"wires":[]},{"id":"dd5635bf.1051b8","type":"ui_switch","z":"e9f670fb.38f4d","name":"","label":"PERIOD?","tooltip":"","group":"77257a36.306004","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":60,"y":880,"wires":[["63664f8a.3b5e3","7aff4bb8.e05884"]]},{"id":"7aff4bb8.e05884","type":"function","z":"e9f670fb.38f4d","name":"","func":"global.set(\"la_mens_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":840,"wires":[[]]},{"id":"63664f8a.3b5e3","type":"debug","z":"e9f670fb.38f4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":880,"wires":[]},{"id":"f502f1d9.42ef8","type":"ui_button","z":"e9f670fb.38f4d","name":"","group":"685db1b1.a05fd","order":8,"width":0,"height":0,"passthru":false,"label":"Send Data to Database","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":980,"wires":[["6a8de7fa.679758"]]},{"id":"6a8de7fa.679758","type":"function","z":"e9f670fb.38f4d","name":"","func":"var la_mood_setter = global.get(\"la_mood_setter\") ;\nvar la_recent_activity_setter = global.get(\"la_recent_activity_setter\") ;\nvar la_next_activity_setter = global.get(\"la_next_activity_setter\") ;\nvar la_goals_complete_setter = global.get(\"la_goals_complete_setter\") ;\nvar la_mens_setter = global.get(\"la_mens_setter\") ;\nvar time_setter = + new Date() ;\n\nmsg.topic = 'INSERT INTO laTable(la_entry_dateTime,la_mood,la_recent_activity,la_goals_complete, la_mens,la_next_activity) VALUES(\\\"' +  time_setter + '\\\",\\\"' + la_mood_setter + '\\\",\\\"' + la_recent_activity_setter + '\\\",\\\"' + la_goals_complete_setter + '\\\",\\\"' + la_mens_setter + '\\\",\\\"' + la_next_activity_setter +'\\\")';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":980,"wires":[["6eda31e3.3bf6","37e22268.340a6e"]]},{"id":"6eda31e3.3bf6","type":"debug","z":"e9f670fb.38f4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":980,"wires":[]},{"id":"37e22268.340a6e","type":"sqlite","z":"e9f670fb.38f4d","mydb":"7df68a7.13e8ff4","sqlquery":"msg.topic","sql":"","name":"myLifeDB","x":540,"y":1020,"wires":[[]]},{"id":"7df68a7.13e8ff4","type":"sqlitedb","db":"/tmp/la","mode":"RWC"},{"id":"e9eb9402.87dbf8","type":"ui_group","name":"RAW DATA","tab":"4cf626a7.d0ced8","order":1,"disp":true,"width":"6","collapse":false},{"id":"db539212.b16c5","type":"ui_group","name":"Mood","tab":"d89169f8.9d47e8","order":1,"disp":true,"width":"6","collapse":true},{"id":"f6a88f88.2a795","type":"ui_group","name":"Recent Activity","tab":"d89169f8.9d47e8","order":2,"disp":true,"width":"6","collapse":true},{"id":"aa0a4310.38866","type":"ui_group","name":"Next Activity","tab":"d89169f8.9d47e8","order":3,"disp":true,"width":"6","collapse":true},{"id":"c7fccd36.f462c","type":"ui_group","name":"Goals","tab":"d89169f8.9d47e8","order":4,"disp":true,"width":"6","collapse":true},{"id":"77257a36.306004","type":"ui_group","name":"Period","tab":"d89169f8.9d47e8","order":5,"disp":true,"width":"6","collapse":true},{"id":"685db1b1.a05fd","type":"ui_group","name":"Continue","tab":"d89169f8.9d47e8","order":6,"disp":false,"width":"6","collapse":false},{"id":"4cf626a7.d0ced8","type":"ui_tab","name":"TRENDS","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d89169f8.9d47e8","type":"ui_tab","name":"My Day","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
