lifeApp.Node-red
[{"id":"850a7c6b.5abdf","type":"tab","label":"LifeApp","disabled":false,"info":""},{"id":"3f38403b.3ba0a","type":"inject","z":"850a7c6b.5abdf","name":"CREATE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE la(la_id INTEGER PRIMARY KEY, la_entry_dateTime   STRING NOT NULL,la_mood             VARCHAR(50), la_recent_activity  VARCHAR(50), la_mens VARCHAR(50),     la_next_activity VARCHAR(50), la_goal_ws VARCHAR(50), la_goal_rwd VARCHAR(50), la_goal_extra VARCHAR(50), la_goal_bc VARCHAR(50), la_goal_veg VARCHAR(50), la_hrs_slept INTEGER, la_goal_meditate VARCHAR(50), la_blunt_num INTEGER );","payload":"","payloadType":"date","x":100,"y":60,"wires":[["31465a85.ab61e6"]]},{"id":"31465a85.ab61e6","type":"sqlite","z":"850a7c6b.5abdf","mydb":"7df68a7.13e8ff4","sqlquery":"msg.topic","sql":"","name":"","x":310,"y":60,"wires":[["6aadcb3e.e98dfc"]]},{"id":"ae3128ab.d08be","type":"inject","z":"850a7c6b.5abdf","name":"SELECT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM la","payload":"","payloadType":"date","x":100,"y":100,"wires":[["31465a85.ab61e6"]]},{"id":"6aadcb3e.e98dfc","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"dbc6811.76855","type":"inject","z":"850a7c6b.5abdf","name":"DROP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE la","payload":"","payloadType":"date","x":90,"y":20,"wires":[["31465a85.ab61e6"]]},{"id":"a940016b.745f5","type":"ui_button","z":"850a7c6b.5abdf","name":"Fine","group":"3a99b6ca.8eaa0a","order":1,"width":0,"height":0,"passthru":true,"label":"Fine","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Fine","payloadType":"str","topic":"","x":90,"y":200,"wires":[["9023c009.539ae"]]},{"id":"80794efa.3371b","type":"ui_button","z":"850a7c6b.5abdf","name":"Anxious","group":"3a99b6ca.8eaa0a","order":1,"width":0,"height":0,"passthru":true,"label":"Anxious","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Anxious","payloadType":"str","topic":"","x":100,"y":240,"wires":[["9023c009.539ae"]]},{"id":"4a122a01.52edf4","type":"ui_button","z":"850a7c6b.5abdf","name":"Motivated","group":"3a99b6ca.8eaa0a","order":1,"width":0,"height":0,"passthru":true,"label":"Motivated","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Motivated","payloadType":"str","topic":"","x":100,"y":280,"wires":[["9023c009.539ae"]]},{"id":"65f5eae2.270424","type":"ui_button","z":"850a7c6b.5abdf","name":"Tired","group":"3a99b6ca.8eaa0a","order":1,"width":0,"height":0,"passthru":true,"label":"Tired","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Tired","payloadType":"str","topic":"","x":90,"y":320,"wires":[["9023c009.539ae"]]},{"id":"9023c009.539ae","type":"ui_text_input","z":"850a7c6b.5abdf","name":"Choice ","label":"You chose:","tooltip":"","group":"3a99b6ca.8eaa0a","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"{{msg.payload}}","x":260,"y":240,"wires":[["4b5c2eef.01db3","8751764a.8fddb8"]]},{"id":"4b5c2eef.01db3","type":"function","z":"850a7c6b.5abdf","name":"","func":"global.set(\"la_mood_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":200,"wires":[[]]},{"id":"8751764a.8fddb8","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":240,"wires":[]},{"id":"ad6facca.f98bb","type":"ui_button","z":"850a7c6b.5abdf","name":"Smoke","group":"2532c468.96c73c","order":1,"width":0,"height":0,"passthru":true,"label":"Smoke","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Smoke","payloadType":"str","topic":"","x":100,"y":420,"wires":[["1869bc07.02ea64"]]},{"id":"82f85f67.11f","type":"ui_button","z":"850a7c6b.5abdf","name":"Nap","group":"2532c468.96c73c","order":1,"width":0,"height":0,"passthru":true,"label":"Nap","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Nap","payloadType":"str","topic":"","x":90,"y":500,"wires":[["1869bc07.02ea64"]]},{"id":"b85b550.85dd3a8","type":"ui_button","z":"850a7c6b.5abdf","name":"Binged TV","group":"2532c468.96c73c","order":1,"width":0,"height":0,"passthru":true,"label":"Binged TV","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Binged TV","payloadType":"str","topic":"","x":110,"y":540,"wires":[["1869bc07.02ea64"]]},{"id":"c3716c4.c7b459","type":"ui_button","z":"850a7c6b.5abdf","name":"hardware/software","group":"2532c468.96c73c","order":1,"width":0,"height":0,"passthru":true,"label":"hardware/software","tooltip":"","color":"","bgcolor":"","icon":"","payload":"hardware/software","payloadType":"str","topic":"","x":290,"y":500,"wires":[["1869bc07.02ea64"]]},{"id":"4e4feab1.c013e4","type":"ui_button","z":"850a7c6b.5abdf","name":"Workout","group":"2532c468.96c73c","order":1,"width":0,"height":0,"passthru":true,"label":"Workout","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Workout","payloadType":"str","topic":"","x":100,"y":460,"wires":[["1869bc07.02ea64"]]},{"id":"3967acf2.2b1e24","type":"ui_button","z":"850a7c6b.5abdf","name":"Stream","group":"2532c468.96c73c","order":1,"width":0,"height":0,"passthru":true,"label":"Stream","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Stream","payloadType":"str","topic":"","x":280,"y":440,"wires":[["1869bc07.02ea64"]]},{"id":"1869bc07.02ea64","type":"ui_text_input","z":"850a7c6b.5abdf","name":"Choice ","label":"You chose:","tooltip":"","group":"2532c468.96c73c","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"{{msg.payload}}","x":440,"y":440,"wires":[["be18591.b0647a8","ed06ba6a.c9a048"]]},{"id":"be18591.b0647a8","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":460,"wires":[]},{"id":"ed06ba6a.c9a048","type":"function","z":"850a7c6b.5abdf","name":"","func":"global.set(\"la_recent_activity_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":420,"wires":[[]]},{"id":"839459fc.402778","type":"ui_switch","z":"850a7c6b.5abdf","name":"","label":"Workout/Stretch","tooltip":"","group":"64b51792.c29858","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":640,"wires":[["20c13ac.933ebc6","cfa5ef70.49671"]]},{"id":"fde6a654.853038","type":"ui_switch","z":"850a7c6b.5abdf","name":"","label":"Read/Write/Draw","tooltip":"","group":"64b51792.c29858","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":680,"wires":[["5c3b7cee.5bdfe4","e5001e12.1b9f7"]]},{"id":"acc450de.52d8c","type":"ui_switch","z":"850a7c6b.5abdf","name":"","label":"Extra Credit","tooltip":"","group":"64b51792.c29858","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":720,"wires":[["ef706e4.bc2b69","decc91d7.6ffcb"]]},{"id":"1af62514.c3d4cb","type":"ui_switch","z":"850a7c6b.5abdf","name":"","label":"Build/Code","tooltip":"","group":"64b51792.c29858","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":760,"wires":[["d2d42ade.a73a18","d732e6e.7205c18"]]},{"id":"47c6b5e4.a16fac","type":"ui_switch","z":"850a7c6b.5abdf","name":"","label":"Eat Veggies","tooltip":"","group":"64b51792.c29858","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":800,"wires":[["d06bf1ed.ecfce","b82372d7.8125f"]]},{"id":"cfa5ef70.49671","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":660,"wires":[]},{"id":"20c13ac.933ebc6","type":"function","z":"850a7c6b.5abdf","name":"","func":"global.set(\"la_goal_ws_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":620,"wires":[[]]},{"id":"5c3b7cee.5bdfe4","type":"function","z":"850a7c6b.5abdf","name":"","func":"global.set(\"la_goal_rwd_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":700,"wires":[[]]},{"id":"ef706e4.bc2b69","type":"function","z":"850a7c6b.5abdf","name":"","func":"global.set(\"la_goal_extra_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":780,"wires":[[]]},{"id":"d2d42ade.a73a18","type":"function","z":"850a7c6b.5abdf","name":"","func":"global.set(\"la_goal_bc_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":680,"wires":[[]]},{"id":"d06bf1ed.ecfce","type":"function","z":"850a7c6b.5abdf","name":"","func":"global.set(\"la_goal_veg_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":760,"wires":[[]]},{"id":"e5001e12.1b9f7","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":740,"wires":[]},{"id":"decc91d7.6ffcb","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":820,"wires":[]},{"id":"d732e6e.7205c18","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":720,"wires":[]},{"id":"b82372d7.8125f","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":800,"wires":[]},{"id":"23bf5822.0d1248","type":"ui_numeric","z":"850a7c6b.5abdf","name":"Number of Hours Slept","label":"Number of Hours Slept","tooltip":"","group":"c90d1d5a.7aeba","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":140,"y":900,"wires":[["587ccc0c.c69674","dbf9ca43.c16508"]]},{"id":"dbf9ca43.c16508","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":920,"wires":[]},{"id":"587ccc0c.c69674","type":"function","z":"850a7c6b.5abdf","name":"","func":"global.set(\"la_hrs_slept_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":880,"wires":[[]]},{"id":"1560f2c0.47048d","type":"function","z":"850a7c6b.5abdf","name":"","func":"global.set(\"la_goal_meditate_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":600,"wires":[[]]},{"id":"10bd28f9.f290b7","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":640,"wires":[]},{"id":"2a426488.1c220c","type":"ui_switch","z":"850a7c6b.5abdf","name":"Meditation","label":"Meditation","tooltip":"","group":"64b51792.c29858","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":600,"wires":[["1560f2c0.47048d","10bd28f9.f290b7"]]},{"id":"68cd8c24.b44a24","type":"ui_switch","z":"850a7c6b.5abdf","name":"Period","label":"Period","tooltip":"","group":"43fcfa2b.011714","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":900,"wires":[["9f05db7e.f84af8","eb605f27.a7a"]]},{"id":"eb605f27.a7a","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":920,"wires":[]},{"id":"9f05db7e.f84af8","type":"function","z":"850a7c6b.5abdf","name":"","func":"global.set(\"la_mens_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":880,"wires":[[]]},{"id":"5f85bc22.01f954","type":"ui_button","z":"850a7c6b.5abdf","name":"Smoking","group":"50115a56.c55d64","order":1,"width":0,"height":0,"passthru":true,"label":"Smoke","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Smoke","payloadType":"str","topic":"","x":100,"y":1000,"wires":[["11a2904e.d4d79"]]},{"id":"f1272009.f5ab8","type":"ui_button","z":"850a7c6b.5abdf","name":"Nap","group":"50115a56.c55d64","order":1,"width":0,"height":0,"passthru":true,"label":"Nap","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Nap","payloadType":"str","topic":"","x":90,"y":1080,"wires":[["11a2904e.d4d79"]]},{"id":"98dfb387.b983b","type":"ui_button","z":"850a7c6b.5abdf","name":"Binged TV","group":"50115a56.c55d64","order":1,"width":0,"height":0,"passthru":true,"label":"Binged TV","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Binged TV","payloadType":"str","topic":"","x":110,"y":1120,"wires":[["11a2904e.d4d79"]]},{"id":"113e9cf2.7b38a3","type":"ui_button","z":"850a7c6b.5abdf","name":"hardware/software","group":"50115a56.c55d64","order":1,"width":0,"height":0,"passthru":true,"label":"hardware/software","tooltip":"","color":"","bgcolor":"","icon":"","payload":"hardware/software","payloadType":"str","topic":"","x":310,"y":1100,"wires":[["11a2904e.d4d79"]]},{"id":"c88d1283.1064f","type":"ui_button","z":"850a7c6b.5abdf","name":"Workout","group":"50115a56.c55d64","order":1,"width":0,"height":0,"passthru":true,"label":"Workout","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Workout","payloadType":"str","topic":"","x":100,"y":1040,"wires":[["11a2904e.d4d79"]]},{"id":"ffdca44c.deb0f8","type":"ui_button","z":"850a7c6b.5abdf","name":"Stream","group":"50115a56.c55d64","order":1,"width":0,"height":0,"passthru":true,"label":"Stream","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Stream","payloadType":"str","topic":"","x":280,"y":1020,"wires":[["11a2904e.d4d79"]]},{"id":"11a2904e.d4d79","type":"ui_text_input","z":"850a7c6b.5abdf","name":"Choice ","label":"You chose:","tooltip":"","group":"50115a56.c55d64","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"{{msg.payload}}","x":440,"y":1040,"wires":[["d9ede46f.4d60b8","d1a57a34.032e88"]]},{"id":"d9ede46f.4d60b8","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":1040,"wires":[]},{"id":"d1a57a34.032e88","type":"function","z":"850a7c6b.5abdf","name":"","func":"global.set(\"la_next_activity_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1000,"wires":[[]]},{"id":"40184477.8ff8bc","type":"ui_numeric","z":"850a7c6b.5abdf","name":"Number of Blunts Smoked","label":"Number of Blunts Smoked","tooltip":"","group":"78b31096.c1a94","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":150,"y":1220,"wires":[["127a5be6.11c774","a0f04f22.b757"]]},{"id":"a0f04f22.b757","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1240,"wires":[]},{"id":"127a5be6.11c774","type":"function","z":"850a7c6b.5abdf","name":"","func":"global.set(\"la_blunt_num_setter\",msg.payload) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1180,"wires":[[]]},{"id":"a27fb7d6.671408","type":"ui_button","z":"850a7c6b.5abdf","name":"Send","group":"db52104f.491e1","order":8,"width":0,"height":0,"passthru":false,"label":"Send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":1320,"wires":[["b7294b4.a7537b8"]]},{"id":"b7294b4.a7537b8","type":"function","z":"850a7c6b.5abdf","name":"","func":"var la_mood_setter = global.get(\"la_mood_setter\") ;\nvar la_recent_activity_setter = global.get(\"la_recent_activity_setter\") ;\nvar la_next_activity_setter = global.get(\"la_next_activity_setter\") ;\nvar la_goal_ws_setter = global.get(\"la_goal_ws_setter\") ;\nvar la_goal_rwd_setter = global.get(\"la_goal_rwd_setter\") ;\nvar la_goal_bc_setter = global.get(\"la_goal_bc_setter\") ;\nvar la_goal_veg_setter = global.get(\"la_goal_veg_setter\") ;\nvar la_goal_meditate_setter = global.get(\"la_goal_meditate_setter\") ;\nvar la_mens_setter = global.get(\"la_mens_setter\") ;\nvar time_setter = + new Date() ;\nvar la_hrs_slept_setter = global.get(\"la_hrs_slept_setter\") ;\nvar la_blunt_num_setter = global.get(\"la_blunt_num_setter\") ;\nvar la_goal_extra_setter = global.get(\"la_goal_extra_setter\") ;\n\nmsg.topic = 'INSERT INTO la(la_entry_dateTime, la_mood, la_recent_activity, la_mens, la_next_activity, la_goal_ws, la_goal_rwd, la_goal_extra, la_goal_bc, la_goal_veg, la_goal_meditate, la_hrs_slept, la_blunt_num) VALUES(\\\"' +  time_setter + '\\\",\\\"' + la_mood_setter + '\\\",\\\"' + la_recent_activity_setter + '\\\",\\\"' + la_mens_setter + '\\\",\\\"' + la_next_activity_setter +'\\\",\\\"' + la_goal_ws_setter + '\\\",\\\"' +  la_goal_rwd_setter + '\\\",\\\"' +  la_goal_extra_setter + '\\\",\\\"' +  la_goal_bc_setter + '\\\",\\\"' +  la_goal_veg_setter + '\\\",\\\"' +  la_goal_meditate_setter + '\\\",\\\"' +  la_hrs_slept_setter + '\\\",\\\"' +  la_blunt_num_setter + '\\\")';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":1380,"wires":[["49b187c.e5ce378","70a0b0ff.21d6d"]]},{"id":"49b187c.e5ce378","type":"debug","z":"850a7c6b.5abdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1360,"wires":[]},{"id":"70a0b0ff.21d6d","type":"sqlite","z":"850a7c6b.5abdf","mydb":"7df68a7.13e8ff4","sqlquery":"msg.topic","sql":"","name":"myLifeDB","x":380,"y":1400,"wires":[[]]},{"id":"aa86f2a3.73c34","type":"ui_button","z":"850a7c6b.5abdf","name":"Social media","group":"2532c468.96c73c","order":1,"width":0,"height":0,"passthru":true,"label":"Social media","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Social media","payloadType":"str","topic":"","x":270,"y":540,"wires":[["1869bc07.02ea64"]]},{"id":"a09dd163.64fb","type":"ui_button","z":"850a7c6b.5abdf","name":"Social media","group":"50115a56.c55d64","order":1,"width":0,"height":0,"passthru":true,"label":"Social media","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Social media","payloadType":"str","topic":"","x":290,"y":980,"wires":[["11a2904e.d4d79"]]},{"id":"7df68a7.13e8ff4","type":"sqlitedb","db":"/tmp/la","mode":"RWC"},{"id":"3a99b6ca.8eaa0a","type":"ui_group","name":"Current Mood","tab":"21cad08c.00c54","order":1,"disp":true,"width":"6","collapse":false},{"id":"2532c468.96c73c","type":"ui_group","name":"Recent Activity","tab":"21cad08c.00c54","order":3,"disp":true,"width":"6","collapse":false},{"id":"64b51792.c29858","type":"ui_group","name":"Daily Goals ","tab":"21cad08c.00c54","order":4,"disp":true,"width":"6","collapse":false},{"id":"c90d1d5a.7aeba","type":"ui_group","name":"Number of Hour Slept","tab":"21cad08c.00c54","order":2,"disp":true,"width":"6","collapse":false},{"id":"43fcfa2b.011714","type":"ui_group","name":"Period","tab":"21cad08c.00c54","order":5,"disp":true,"width":"6","collapse":false},{"id":"50115a56.c55d64","type":"ui_group","name":"Next Activity","tab":"21cad08c.00c54","order":7,"disp":true,"width":"6","collapse":false},{"id":"78b31096.c1a94","type":"ui_group","name":"Number of Blunts","tab":"21cad08c.00c54","order":6,"disp":true,"width":"6","collapse":false},{"id":"db52104f.491e1","type":"ui_group","name":"Send Data","tab":"21cad08c.00c54","order":8,"disp":true,"width":"6","collapse":false},{"id":"21cad08c.00c54","type":"ui_tab","name":"Life App","icon":"dashboard","disabled":false,"hidden":false}]
